[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yfinance = "*"
streamlit = "*"
scikit-learn = "*"
numpy = "*"
keras = "*"
pandas = "*"
seaborn = "*"
altair = "*"

[dev-packages]

[requires]
python_version = "3.9"
