[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
tensorflow = "*"
keras = "*"
scikit-learn = "*"
numpy = "*"
seaborn = "*"
yfinance = "*"
streamlit = "*"
quandl = "*"
pytrends = "*"
pandas-datareader = "*"
to = "*"
spacy = "*"

[dev-packages]

[requires]
python_version = "3.7"
